/**
Apparently CSS files are only supported by IntelliJ IDEA Ultimate edition, so I'm just kind of
winging this, for now.
*/
.scene{
  -fx-background-color: #f7ca88;
}

.button{
  -fx-background-color: #669999;
  -fx-background-radius: 6;
  -fx-font-family: "Times New Roman";
  -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.3) , 5, 0.0, 0, 1);
}

.button:hover{
  -fx-background-color: linear-gradient(#669999, #6680e6);
}

.slider{
  -fx-show-tick-marks: true;
  -fx-show-tick-labels: true;
  -fx-show-tick-unit: 50;
  -fx-show-tick-count: 8;
}

.text-area{
  -fx-font: Arial;
}