/**
Apparently CSS files are only supported by IntelliJ IDEA Ultimate edition, so I'm just kind of
winging this, for now.
*/

/*
  Background color of the overall scene
*/
.scene{
  -fx-background-color: #f7ca88;
}

/*
  All buttons will have the same background color, font, and a drop shadow effect
*/
.button{
  -fx-background-color: #669999;
  -fx-background-radius: 6;
  -fx-font-family: "Times New Roman";
  -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.3) , 5, 0.0, 0, 1);
}

/*
  When hovered over, a button would receive a gradient visual.
*/
.button:hover{
  -fx-background-color: linear-gradient(#669999, #6680e6);
}

/*
  The slider will receive eight tick marks, each mark with a value divisible by 50 will
  display their respective value.
*/
.slider{
  -fx-show-tick-marks: true;
  -fx-show-tick-labels: true;
  -fx-show-tick-unit: 50;
  -fx-show-tick-count: 8;
}

/*
  The text area with the user's SQL queries will use the Arial font.
*/
.text-area{
  -fx-font: Arial;
}